.clans-content {
  display: grid;
  height: 100%;
  grid-template-rows: auto 100px;
}
.clans-container {
  width: 100%;
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(auto-fill, minmax(300px, auto));
  grid-template-rows: repeat(auto-fill, 75px);
  overflow-y: auto;
  padding-top: 5px;
}
.clan-container {
  display: grid;
  width: 300px;
  height: 75px;
  margin: auto;
  border-radius: 5px;
  border: 1px solid rgba(0,0,0,0.2);
  background: rgba(0,0,0,0.1);
  grid-template-columns: 60px auto;
}
.clan-container:hover { background: rgba(0,0,0,0.2); cursor: pointer; }
.clan-container > .clan-details > .clan-name {
  margin-top: 6px;
  height: 20px;
  width: 230px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.clan-container > .clan-details > .clan-members { position: relative; padding-left: 16px; }
.clan-container > .clan-details > .clan-members::before {
  background-image: url('../assets/icons/member.png');
  background-size: 15px 15px;
  display: inline-block;
  position: absolute;
  width: 15px; 
  height: 15px;
  margin-top: 5px;
  margin-left: -17px;
  content:"";
}
.clan-container > .clan-details > .clan-tracking {
  margin-top: -5px;
  font-size: 14px;
  color: lightgray;
}
.clan-banner-icon-container > .clan-banner-icon {
  position: relative;
  width: 60px;
  height: 60px;
}
.clans-search-container {
  padding-top: 8px;
  padding-left: 15px;
  height: 40px;
}
.clans-searchbar {
  width: 300px;
  margin-left: 3px;
}
.not-tracking { -webkit-box-shadow: inset 4px 0px 0px 0px rgba(0,0,0,0.2); -moz-box-shadow: inset 4px 0px 0px 0px rgba(0,0,0,0.2); box-shadow: inset 4px 0px 0px 0px rgba(0,0,0,0.2); }
.tracking { -webkit-box-shadow: inset 4px 0px 0px 0px rgba(255,255,255,0.2); -moz-box-shadow: inset 4px 0px 0px 0px rgba(255,255,255,0.2); box-shadow: inset 4px 0px 0px 0px rgba(255,255,255,0.2); }
.clans-footer > div {
  width: fit-content;
  margin: auto;
  margin-top: 15px;
  font-size: 14px;
}
.clans-footer > .page-router > .left-arrow {
  margin-right: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.clans-footer > .page-router > .right-arrow {
  margin-left: 5px;
  height: 30px;
  width: 30px;
  cursor: pointer;
}