/* Server Selection */
.server-selections-title {
  text-align: center;
  margin: auto auto;
  font-size: 24px;
  padding-top: 10px;
}
.server-selections-desc {
  text-align: center;
  margin: auto auto;
  font-size: 14px;
  padding-bottom: 10px;
}
.server-selections {
  display: flex;
  grid-gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}
.server-info-container {
  display: inline-grid;
  background: rgba(0,0,0,0.2);
  grid-template-columns: 60px auto;
  border-radius: 10px;
  position: relative;
  padding: 5px;
  height: 70px;
  width: fit-content;
  cursor: pointer;
}
.server-info-container:hover { background: rgba(0,0,0,0.3); }
.server-info-container > .server-icon {
  display: inline-block;
  background-size: 50px 50px;
  border-radius: 20px;
  width: 50px;
  height: 50px;
  margin: 5px;
}
.server-info-container > .server-name {
  display: inline-block;
  width: 100%;
  font-size: 14px;
  margin-top: 20px;
  padding: 0px 10px;
  max-width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Server Details */
.server-details-container {
  height: 100%;
}
.server-details-container > .server-name {
  cursor: default;
}
.server-clan-banners {
  display: flex;
  position: absolute;
  grid-gap: 5px;
  height: 80px;
  right: 10px;
  top: 0;
}
.server-clan-banner {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 70px;
}
.server-clan-banner > .clan-banner-icon {
  position: relative;
  display: inline-block;
  top: -15px;
}
.server-tracked-items-title {
  padding: 5px 8px 0px 8px;
}
.server-tracked-items {
  padding: 5px 5px 0px 5px;
  width: 600px;
  height: 600px;
  display: flex;
  flex-wrap: wrap;
}
.server-tracked-items > .item-container {
  display: grid;
  justify-content: start;
  grid-template-columns: 60px auto;
  border: 1px#b3b3b324 solid;
  margin: 0px 2px 3px;
  text-align: left;
  cursor: pointer;
  flex-basis: 49%;
}
.server-tracked-items > .item-container > .item-image {
  height: 45px;
  width: 45px;
  margin: 4px;
  pointer-events: none;
}
.item-tooltip {
  position: relative;
  display: inline-block;
  width: 55px;
  height: 70px;
}
.item-tooltip .tooltip-text {
  display: none;
  position: absolute;
  top: 75px;
  right: 10px;
  width: max-content;
  background-color: rgba(0,0,0,0.4);
  color: #fff;
  text-align: right;
  border-radius: 6px;
  padding: 5px;
  z-index: 1;
}
.item-tooltip:hover .tooltip-text { display: block; }

/* Clan Rankings */
.server_rankings {
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
  height: calc(100% - 2px);
  width: calc(100% - 10px);
}
.rankings_title {
  display: grid;
  grid-template-columns: auto 80px 130px 100px 110px 100px 100px 190px 180px;
  font-weight: bold;
  border-top: 1px var(--LightNavyBlue) solid;
  border-bottom: 1px var(--LightNavyBlue) solid;
}
.rankings_title > div {
  position: relative;
  padding: 5px;
}
.rankings_title > div:last-child { margin-right: 0px; }
.rankings_title > div > div {
  display: inline-block;
  padding-right: 5px;
}
.rankings_title > div > .caret_down {
  background-image: url("../assets/icons/arrow.png");
  background-size: 15px 15px;
  transform: rotate(270deg);
  position: absolute;
  top: 9px;
  height: 15px;
  width: 15px;
}
.rankings_title > div > .caret_up {
  background-image: url("../assets/icons/arrow.png");
  background-size: 15px 15px;
  transform: rotate(90deg);
  position: absolute;
  top: 9px;
  height: 15px;
  width: 15px;
}
.rankings_title > div:hover {
  background-color: rgba(0,0,0,0.1);
  cursor: pointer;
  color: #c7c7c7;
}
.clan_member {
  display: grid;
  grid-template-columns: auto 80px 130px 100px 110px 100px 100px 190px 180px;
  margin-bottom: 1px;
  padding: 5px 2px;
  border-bottom: 1px var(--LightNavyBlue) solid;
}
.clan_member > div { padding-left: 2px; }
.clan_member > div:first-child { padding-left: 0px; }

/* Others */
.server-selection-btn {
  position: absolute;
  top: 5px;
  left: 5px;
  background: rgba(0,0,0,0.2);
  width: fit-content;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  display: grid;
  grid-template-columns: 18px auto;
}
.server-selection-btn:hover {
  background: rgba(0,0,0,0.4);
}
.server-selection-btn > .arrow {
  display: inline-block;
  background-image: url("../assets/icons/arrow.png");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  width: 18px;
  height: 15px;
  margin-top: 5px;
}
.server-details-container > .info {
  position: absolute;
  bottom: 5px;
  right: 5px;
}