.logs-page-title {
  padding-left: 10px;
  background: rgba(0,0,0,0.2);
  padding-bottom: 5px;
  margin: 0;
}
.logs-menu {
  display: flex;
  justify-content: space-evenly;
  background: rgba(0,0,0,0.2);
  padding: 5px;
}
.logs-menu > div {
  display: inline-block;
  cursor: pointer;
  width: calc(100% / 7);
  padding: 5px;
  text-align: center;
}
.logs-menu > div.active { background: rgba(0,0,0,0.2); }
.logs-menu > div:hover { background: rgba(0,0,0,0.2); }
.logs-container {
  display: grid;
  background: rgba(0,0,0,0.2);
  width: 100%;
  height: 100%;
}
.logs {
  justify-content: start;
  display: inline-block;
  overflow-x: hidden;
  overflow-y: auto;
  width: 100%;
}
.log-container#backend > .logs { height: 90%; }
.log-container#frontend > .logs { height: 90%; }
.log-container#errorHandler > .logs { height: 90%; }
.log-container#express > .logs { height: 90%; }
.log-container#globals > .logs { height: 90%; }
.log-container#database > .logs { height: 90%; }
.frontend-log-data {
  display: grid;
  grid-template-columns: 75px auto 160px;
}
.backend-log-data {
  display: grid;
  grid-template-columns: 75px auto 160px;
  width: 100%;
}
.express-log-data {
  display: grid;
  grid-template-columns: 75px auto 160px;
}
.globals-log-data {
  display: grid;
  grid-template-columns: 75px auto 160px;
}
.errorHandler-log-data {
  display: grid;
  grid-template-columns: 75px auto 160px;
}
.database-log-data {
  display: grid;
  grid-template-columns: 85px 70px 155px 155px 250px auto 50px 160px;
}
.undefined-log-data {
  display: grid;
  grid-template-columns: 75px auto 160px;
  color: red !important;
}
.Command-log-data {
  display: grid;
  grid-template-columns: 75px 145px 150px auto 160px;
}
.Startup-log { color: #cecece; }
.Info-log { color: #cecece; }
.Scan-log { color: cornflowerblue; }
.Broadcast-log { color: #8e99b1; }
.Command-log { color: cornflowerblue; }
.Account-log { color: #e371ea; }
.Clan-log { color: #e371ea; }
.Warning-log { color: darkorange; }
.Error-log { color: tomato; }
.Server-log { color: #b85bff; }
.item-log { color: cornflowerblue; }
.title-log { color: rgb(66, 185, 233); }
.clan-log { color: #e371ea; }
.gildedTitle-log { color: #c3ac2c; }

.Command-log > span {
  color: rgba(77, 139, 255, 0.9);
  cursor: pointer;
}
.Command-log > span:hover {
  text-decoration: underline;
}
.user-interface {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 600px;
  min-height: 300px;
  height: 500px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
}
.user-interface > .user-interface-head {
  width: 100%;
  height: 30px;
  background: rgba(0,0,0,0.3);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.user-interface > .user-interface-head > span {
  position: absolute;
  top: 3px;
  right: 5px;
  color: tomato;
  height: 24px;
  width: 24px;
  text-align: center;
  cursor: pointer;
}
.user-interface > .user-interface-head > #user-interface-id {
  font-size: 14px;
  line-height: 30px;
  padding-left: 5px;
}
.user-interface > .user-interface-body > .user-profile-container {
  padding: 5px;
}
.user-interface > .user-interface-body > .user-commands-container {
  padding: 5px;
}
.user-interface > .user-interface-body > .user-commands-container > .user-commands {
  display: grid;
  max-height: 300px;
}
.user-interface > .user-interface-body > .user-commands-container > .user-commands > .user-command-container {
  display: grid;
  grid-template-columns: max-content max-content auto max-content;
  grid-gap: 10px;
  font-size: 12px;
  padding-right: 5px;
}