@media only screen and (max-width: 1550px) {
  
}
@media only screen and (max-width: 1350px) {
  /* Home */
  .connectContainer > h2 {
    font-size: 20px;
  }
}
@media only screen and (max-width: 700px) {
  /* App and Header */
  .app { grid-template-columns: auto !important; }
  .app > .page-content { grid-column: 1 !important; }
  .app > .page-content > .error-container { width: 80%; }
  .app > .loaderBG { margin-left: 0px; }
  .header-menu {
    max-height: calc(100% - 250px);
  }
  .header-logo > img {
    margin: -10px 5px 0px 5px;
  }
  .header-home-link {
    margin-top: 4px;
  }
  .header-user-containter {
    display: none;
  }
  .header-user-containter-mobile {
    height: 50px;
    position: absolute;
    bottom: 210px;
    width: 100%;
    display: flex;
  }
  .left-header {
    display: none;
  }
  .mobile-header {
    display: grid;
  }
  .menu-slider-btn {
    display: block;
  }

  /* Home */
  .home-content {
    grid-template-columns: auto;
  }
  .home-content > div {
    display: block;
  }
  .statusLabels {
    display: flex;
    justify-content: center;
    width: 90%;
    padding-top: 30px;
  }
  .connectContainer > h2 {
    font-size: 26px;
  }
  .howToSetup {
    padding-bottom: 20px;
  }
  /* Commands */
  .categories {
    grid-template-columns: auto !important;
    height: 100%;
  }
  .category-long {
    min-width: 90% !important;
    grid-column: 1 !important;
    margin: 0 10px !important;
  }
  .category {
    min-width: 90% !important;
    grid-column: 1 !important;
    margin: 0 10px !important;
  }
  /* Clans */
  .clans-search-container {
    padding-left: 0px;
  }
  .clans-searchbar {
    width: 90%;
    margin: 0px 5%;
  }
  .clans-content {
    width: 100%;
  }
  /* Clan */
  .clan-content {
    grid-template-columns: auto;
  }
  .clan-content > .clan-members-container {
    grid-column: 1;
    height: 200px;
    border-top: 1px solid rgba(0,0,0,0.2);
    background:rgba(0,0,0,0.2);
  }
  .clan-content > .clan-members-container > .clan-member-container > .clan-member-details {
    display: grid;
    grid-template-columns: auto auto;
    font-size: 14px;
  }
  .clan-content > .clan-members-container > .clan-member-container > .clan-member-details > .clan-member-last-seen { text-align: right; }
  .clan-content > .clan-members-container > .clan-member-container > .clan-member-details > .clan-member-name > .tag { top: 7px; }
  .clan-info-container { display: grid; grid-template-columns: auto; grid-template-rows: auto auto auto; }
  .clan-info-container > .clan-banner-container { grid-row: 1; width: 100%; margin: auto; position: relative; }
  .clan-info-container > .clan-banner-container > .clan-banner-icon { position: relative; margin: auto; width: 210px; }
  .clan-info-container > .clan-details { grid-column: 1; grid-row: 2; height: 100%; overflow: unset; width: 100%; text-align: center; }
  .clan-info-container > .clan-details > .clan-name { font-size: 18px; display: grid; }
  .clan-info-container > .clan-details > .clan-name > .clan-members::before { margin-top: 5px; }
  .clan-info-container > .clan-details > .clan-name > .clan-members { display: block; }
  .clan-info-container > .clan-details > .clan-about { max-height: unset; width: 98%; margin: auto; }
  .clan-info-container > .clan-statistics { grid-column: 1 !important; grid-row: 3 !important; }
  .clan-info-container > .clan-statistics > .clan-broadcasts-container { padding-bottom: 20px; }
}